name: CI
on:
  push:
    branches: [main]
    paths-ignore:
      - 'README.md'
      - 'docs/**'
  pull_request:
    branches: [main]
    paths-ignore:
      - 'README.md'
      - 'docs/**'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16.x
      - run: npm ci
      - run: npm run build
      - run: npm run format-check
      - run: npm run lint
      - run: npm run test
      - uses: actions/upload-artifact@v3
        with:
          name: dist
          path: dist
      - uses: actions/upload-artifact@v3
        with:
          name: action.yml
          path: action.yml

  test:
    needs: [build]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: [built, committed]
    steps:
      - uses: actions/checkout@v3
      - if: matrix.target == 'built' || github.event_name == 'pull_request'
        uses: actions/download-artifact@v3
        with:
          name: dist
          path: dist
      - if: matrix.target == 'built' || github.event_name == 'pull_request'
        uses: actions/download-artifact@v3
        with:
          name: action.yml
          path: .

      - name: Find comment by body-includes
        uses: ./
        id: fc1
        with:
          issue-number: 1
          body-includes: search string 1
      - if: steps.fc1.outputs.comment-id != 620947762
        run: exit 1
      - if: steps.fc1.outputs.comment-body != 'search string 1'
        run: exit 1
      - if: steps.fc1.outputs.comment-author != 'retepsnave'
        run: exit 1

      - name: Find comment by author
        uses: ./
        id: fc2
        with:
          issue-number: 1
          comment-author: retepsnave
      - if: steps.fc2.outputs.comment-id != 620947762
        run: exit 1

      - name: Find comment by body-includes and author
        uses: ./
        id: fc3
        with:
          issue-number: 1
          comment-author: peter-evans
          body-includes: search string 1
      - if: steps.fc3.outputs.comment-id != 620947858
        run: exit 1

      - name: No matching comment found
        uses: ./
        id: fc4
        with:
          issue-number: 1
          comment-author: peter-evans
          body-includes: this string will not be found
      - if: steps.fc4.outputs.comment-id != ''
        run: exit 1

      - name: Find comment by body-includes (requiring pagination)
        uses: ./
        id: fc5
        with:
          issue-number: 1
          body-includes: search string 2
      - if: steps.fc5.outputs.comment-id != 703343658
        run: exit 1

      - name: Find comment in merged PR
        uses: ./
        id: fc6
        with:
          issue-number: 4
          body-includes: search string 3
      - if: steps.fc6.outputs.comment-id != 703352283
        run: exit 1

      - name: Find the last comment by body-includes and author
        uses: ./
        id: fc7
        with:
          issue-number: 1
          comment-author: peter-evans
          body-includes: search string 1
          direction: last
      - if: steps.fc7.outputs.comment-id != 771260630
        run: exit 1

  package:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    needs: [test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/download-artifact@v3
        with:
          name: dist
          path: dist
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        with:
          commit-message: 'build: update distribution'
          title: Update distribution
          body: |
            - Updates the distribution for changes on `main`

            Auto-generated by [create-pull-request][1]

            [1]: https://github.com/peter-evans/create-pull-request
          branch: update-distribution
